@marginElement: 40px;
@marginAdjacent: 20px;
@marginSpace: 4px;
@sizeMain: 16px;
@sizeSecondary: 14px;
@colorMain: #222;
@colorSecondary: #bfbfbf;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: @marginElement @marginElement 0;
  // @media screen and (max-width: 1200px) {
  // position: relative;
  // }
}
.headerBack {
  color: @colorMain;
  font-weight: 500;
  font-size: @sizeMain;
  cursor: pointer;
}

.headerStatus {
  margin-left: @marginElement;
  color: @colorSecondary;
  font-weight: 500;
  font-size: @sizeSecondary;
}

.headerUpload,
.headerDownload {
  color: @colorSecondary;
  font-weight: 500;
  font-size: @sizeSecondary;
  cursor: pointer;
  transition: color 0.2s;
  &:hover {
    color: @colorMain;
  }
}
.headerUpload {
  margin-left: @marginElement;
}
.headerDownload {
  margin-left: @marginAdjacent;
}
.headerIconText {
  margin-left: @marginSpace;
}
.headerDropdown {
  z-index: 10;
}
.headerPublish {
  color: rgb(33, 189, 67);
  font-weight: 500;
  font-size: @sizeMain;
  cursor: pointer;
}

.action {
  display: flex;
  align-items: center;
}
