.wrapper {
  margin-left: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toggleIcon {
  color: #333;
  font-size: 16px;
}

.item {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.itemTitle {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
}

.itemContent {
  margin-top: 10px;
}

.itemEmpty {
  color: #787878;
  font-size: 12px;
}
// original link
.originalMenuItem {
  :global {
    .ant-dropdown-menu-title-content {
      width: 100%;
    }
  }
}

// original notice
.originalTitle {
  margin: 0 0 10px 0;
}
.originalTips {
  margin: 10px 0;
  color: #787878;
}
.originalTerms {
  display: block;
  margin-top: 10px;
  color: #333 !important;
  font-weight: 500;
}

// tips
.tips {
  margin-top: auto;
  padding: 10px;
  color: #333;
  font-size: 14px;
  background-color: #e9e9e9;
  border-radius: 10px;
}

// learn more
.learn {
  display: block;
  margin-top: 20px;
  padding: 10px 0;
  color: #333;
  font-size: 14px;
  text-align: center;
  border: 1px solid #333;
  border-radius: 10px;
  &:hover {
    border-color: #1890ff;
  }
}
