@import '~antd/es/style/themes/default.less';

.information {
  display: flex;

  :global {
    .ant-legacy-form-item .ant-legacy-form-item-control-wrapper {
      width: 100%;
    }
  }

  .left {
    width: 360px;
  }
  .right {
    padding-left: 100px;
    .avatarTitle {
      height: 22px;
      margin-bottom: 8px;
      color: @heading-color;
      font-size: @font-size-base;
      line-height: 22px;
    }
    .avatar {
      width: 140px;
      height: 140px;
      margin-bottom: 12px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .buttonView {
      width: 140px;
      text-align: center;
    }
  }
}

@media screen and (max-width: @screen-xl) {
  .information {
    flex-direction: column-reverse;
    .left {
      width: 100%;
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      .avatarTitle {
        display: none;
      }
    }
  }
}
