.container {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px 40px 0;
}
.headerBack {
  color: #333;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.headerStatus {
  margin-left: 40px;
  color: #bfbfbf;
  font-weight: 500;
  font-size: 16px;
}
.headerPreview {
  color: rgb(33, 189, 67);
  font-weight: 500;
  font-size: 16px;
}
.headerPublish {
  color: rgb(33, 189, 67);
  // margin-left: 40px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.title {
  padding: 20px 0;
  font-weight: bold;
  font-size: 28px;
  border: 0;
  &:focus {
    border: none;
    box-shadow: none;
  }
}

.edit {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0 0 0;
}
