@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.my-site-link-icon {
  float: right;
  padding-top: 13px;
  opacity: 0;
  //transition: opacity 0.8s !important;
}

.my-site-link:hover + .my-site-link-icon,
.my-site-link-icon:hover {
  opacity: 1;
}

.header-text-info {
  p:not(:last-child) {
    margin-bottom: 6px;
  }
}

.ant-pro-card-header-border {
  padding-bottom: 10px !important;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

.ant-pro-sider:not(.ant-layout-sider-collapsed) {
  left: unset;
  padding: 20px;
}

.ant-menu-submenu-title {
  margin: 0 !important;
}

.ant-menu-root .ant-menu-submenu {
  margin-top: 12px;
}

.ant-menu-root > .ant-menu-submenu ~ .ant-menu-submenu {
  margin-top: 0;
}

.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 35px !important;
  margin: 0;
  line-height: 35px !important;
}

.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0;
}

.ant-menu-submenu-open {
  margin-bottom: 12px;
}

.ant-menu-submenu-inline .ant-menu-item-only-child {
  padding-left: 40px !important;
}

.ant-pro-sider-logo h1,
.ant-menu-item a:hover,
.ant-menu-submenu-title:hover,
.ant-menu-item-selected a,
.ant-menu-submenu-selected {
  color: #542ee0 !important;
}

// style only for 邀请码管理
.ant-menu .ant-menu-item-only-child:last-child {
  padding-right: 12.4px !important;
}

.ant-pro-sider-logo {
  padding: 25px 0 25px 10px;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
}
.ant-page-header-heading-title {
  padding: 24px 0;
}

.ant-layout-header {
  display: none;
}

.ant-pro-card {
  min-width: 800px;
  max-width: 800px;
}

.ant-layout-sider {
  border: 1px solid #f0f0f0 !important;
  box-shadow: none !important;
}

.ant-pro-page-container,
.ant-pro-card-body,
.ant-layout {
  background-color: white;
}

a:hover {
  color: #40a9ff;
}

.ant-page-header {
  padding-bottom: 6px;
}

.ant-pro-card-title {
  font-weight: 600;
  font-size: 20px !important;
  line-height: 32px;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
